---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.collections.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Blogs" }}</h2>
    <ul class="post-list">
      {%- for collection in site.collections -%}
      {%- if collection.name -%}
      {%- if collection.name != x1a0_h0n9%}
      
      <li>
        <h3>
          <a class="post-link" href="{{ collection.url | relative_url }}">
            {{ collection.name | escape }}
          </a>
          <h4>
            {{ collection.description | escape}}
          </h4>
          
        </h3>
      </li>
      {%- endif -%}
      {%- endif -%}
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
